#dataResults {
    padding-bottom: 5em;
    background-color: white;
    margin-top: 0px;
}

#dataResults ul {
    margin-top: 1em !important;
}

#dataResults li {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}