#dataResults {
    padding-bottom: 5em;
    background-color: white;
    margin-top: 0px;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    border-radius: 8px;
}

#dataResults ul {
    margin-top: 1em !important;
}

#dataResults li {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}

@media (max-width: 360px) {
    #dataResults  {
        margin-top: 10px;
    }
}