footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    margin: 0 !important;
}

footer .btn-large {
    padding-left: 35px !important;
}

#dataBtn, #calenderBtn {
    background-color: #9BB8D8;
}