@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body {
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: table;
    top:0;
    background: url("../../assets/images/landing.jpg"); 
    background-size: cover;
}

.intro .inner {
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   max-width: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#landingCatchPhrase {
    margin-top: 55px;
}

.content h1 {
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}

#appNameText {
    font-size: 110%;
    margin-top: -90px;
}

#getStartedButton {
    font-family: "Montserrat";
    color: white;
    font-size: 150%;
    padding: 20px;
    height: 100%;
    border-radius: 3px;
    background-color: #B14E91;
    margin-top: 30px;
}

.content h4 {
    font-family: "Montserrat";
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size: 200%;
}