@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

#navbar {
    margin-top: 0px;
}

#date {
    font-family: "Raleway", sans-serif !important;
}

#dashboardHeaderText {
    font-family: "Raleway", sans-serif !important;
}