#background {
    display: flex;
    flex-direction: column;
    /* background: url("../../assets/images/blueInkBackground.jpg") no-repeat center center fixed; */
    height: 100%;
    width: 100%;
    background-size: cover;
}

.z-depth-1.grey.lighten-4.row {
    display: inline-block; 
    padding: 50px 60px 0px 60px; 
    border: 1px solid #EEE;
    margin-top: 100px;
}

.welcomeText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B71C1C;
    font-weight: bold;
}

.loginText, .registerText {
    color: #B71C1C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #B71C1C;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #B71C1C;
    box-shadow: none;
}