.switch label .lever {
    background-color: #79ff4d;
 }
 .switch label input[type=checkbox]:checked+.lever {
    background-color: #ff6666;
 }
 .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff3300;
 }
 .switch label .lever {
    background-color: #79ff4d;
 }
 .switch label input[type=checkbox]:checked+.lever {
    background-color: #a6a6a6;
 }
 .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #737373;
 }