@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

#registerBackground {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.z-depth-1.white.row {
    display: inline-block; 
    border: 1px solid #EEE;
    background: white;
    border-radius: 8px;
    background: white;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    padding: 50px 60px 0px 60px !important; 
    box-shadow: 0 0 5px #ccc;
    margin-top: 30px;
}

.registerWelcomeText {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #7AAC25;
    font-weight: bold;
}

.registerText {
    color: #7AAC25;
    font-family: "Montserrat", sans-serif;
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: #7AAC25 !important;
}

.input-field input[type=text]:focus:not([readonly]) + label, .input-field input[type=email]:focus:not([readonly]) + label, .input-field input[type=password]:focus:not([readonly]) + label {
    color: #7AAC25 !important;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 2px solid #7AAC25 !important;
    box-shadow: none !important;
}

#registerButton {
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    background-color: #7AAC25;
}

.loginLink {
    color: #B14E91;
}